/* common */
body {
  font-family: "Montserrat", "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
}
a {
  color: black;
  text-decoration: none;
}
h1 {
  font-size: 30px;
  font-weight: 500;
}
/* header */

.header {
  height: 150px;
  width: 1200px;
  margin: auto;
}

.header .inner {
  position: relative;
}

.header .inner .logo {
  top: 50px;
  left: 50px;
  position: absolute;
}

.header .inner .gnb {
}

.header .inner .gnb .gnb-list {
  top: 50px;
  right: 50px;
  display: flex;
  position: absolute;
}

.header .inner .gnb .gnb-list .gnb-list-item {
  padding: 0 30px;
}

.header .inner .gnb .gnb-list .gnb-list-link {
  transition: all, 0.3s;
}

.header .inner .gnb .gnb-list .gnb-list-link:hover {
  color: orange;
  display: block;
  transform: scale(1.1);
}

/* section1 */

.section1 {
  background-color: #dcd6d6;
  width: 1200px;
  height: 900px;
  margin: auto;
}
.section1 .inner {
  width: 1200px;
  height: 900px;
  margin: auto;
  background-image: url("https://images.unsplash.com/photo-1494232410401-ad00d5433cfa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;
}
.section1 .inner .about {
  top: 600px;
  left: 50px;
  position: absolute;
}
.section1 .inner .contents {
  top: 700px;
  left: 50px;
  position: absolute;
  transition: all, 0.3s linear;
}
.section1 .inner .contents:hover {
  color: orange;
}

/* section2 */

.section2 {
  background-color: skyblue;
  width: 1200px;
  height: 900px;
  margin: auto;
}
