/* common */
body {
  font-family: "Montserrat", "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  width: auto;
  height: 4500px;
  background-color: #6d9886;
  background: cover;
  position: relative;
  color: #212121;
}
body:before {
  content: "";
  background: linear-gradient(to top, #d9cab3, transparent);
  position: absolute;
  height: 100%;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
a {
  color: #212121;
  text-decoration: none;
}
h1 {
  font-size: 30px;
  font-weight: 500;
}
/* header */

.header {
  height: 100px;
}

.header .inner {
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.header .inner .logo {
  display: flex;
}

.header .inner .logo img {
  min-width: 72px;
  max-width: 128px;
}

.header .inner .gnb {
}

.header .inner .gnb .gnb-list {
  display: flex;
}

.header .inner .gnb .gnb-list .gnb-list-item {
  margin-left: 30px;
}
.header .inner .gnb .gnb-list .gnb-list-link {
  cursor: pointer;
  transition: all 0.4s;
}

.header .inner .gnb .gnb-list .gnb-list-link:hover {
  color: #d9cab3;
}

/* section1 */

.section1 {
  height: 800px;
  padding: 400px 200px;
  box-sizing: border-box;
}
.section1 .inner {
  margin: auto;
  display: flex;
}
.section1 .inner .about {
}
.section1 .inner .contents {
  width: 500px;
  padding: 10px;
  margin: 0 40px;
  transition: all 0.4s;
}
.section1 .inner .contents:hover {
  color: #d9cab3;
}

/* section2 */

.section2 {
  height: 800px;
  padding: 400px 200px;
  box-sizing: border-box;
}
.section2 .skills {
}
.section2 .skills-group {
  padding: 10px 0;
}
.section2 .skills-group .group1 {
  padding: 0 0 50px 0;
}
.section2 .skills-group .group1 .group1-list {
}
.section2 .skills-group .group1 .group1-list .group1-list-item {
}
.section2 .skills-group .group2 {
  padding: 0 0 50px 0;
}
.section2 .skills-group .group2 .group2-list {
}
.section2 .skills-group .group2 .group2-list .group2-list-item {
}
.section2 .skills-group .group3 {
}
.section2 .skills-group .group3 .group3-list {
}
.section2 .skills-group .group3 .group3-list .group3-list-item {
}
.section3 {
}
.section3 .inner {
  display: flex;
}
.section3 .inner .inner-list {
}
.section3 .inner .inner-list .inner-list-item {
}

.footer {
}
.footer .footer-group1 {
}
.footer .footer-group1 .footer-title {
}
.footer .footer-group1 .fotter-conents {
}
.footer .footer-group2 {
}
.footer .footer-group2 .footer-group2-des {
}
.footer .footer-group2 .footer-group2-des .footer-group2-des-title {
}

.footer .footer-group2 .footer-group2-des .footer-group2-des-contents {
}

/* media query */
@media (max-width: 576px) {
  body {
    height: 1900px;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  h1 {
    font-size: 16px;
    font-weight: 600;
  }
  .header {
    width: 576px;
    height: 200px;
  }
  .header .inner {
  }
  .header .inner .logo {
    display: block;
  }
  .header .inner .logo img {
  }
  .header .inner .gnb {
  }
  .header .inner .gnb .gnb-list {
    flex-direction: column;
    align-items: center;
  }
  .header .inner .gnb .gnb-list .gnb-list-item {
    margin: auto;
  }

  .section1 {
    width: 576px;
    height: 500px;
    padding: 200px 0 0 0;
    box-sizing: border-box;
  }
  .section1 .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section1 .inner .about {
    text-align: center;
  }
  .section1 .inner .contents {
    width: 220px;
    transition: all 0.4s;
    text-align: center;
  }
  .section1 .inner .contents:hover {
    color: #d9cab3;
  }

  .section2 {
    width: 576px;
    height: 500px;
    padding: 0 0 0 0;
    box-sizing: border-box;
  }
  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section2 .skills {
  }
  .section2 .skills-group {
    display: flex;
  }
  .section2 .skills-group .group1-list {
    padding: 0 10px;
  }
  .section2 .skills-group .group2-list {
    padding: 0 10px;
  }
  .section2 .skills-group .group3-list {
    padding: 0 10px;
  }
  .section3 {
    width: 576px;
    height: 500px;
    padding: 0 0 0 0;
    box-sizing: border-box;
  }
  .section3 .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section3 .inner .inner-list {
  }
  .section3 .inner .inner-list .inner-list-item {
    padding: 10px 0;
    cursor: pointer;
    transition: all 0.6s;
    perspective: 200px;
  }
  .section3 .inner .inner-list .inner-list-item:hover {
    transform: rotateY(365deg);
  }
  .footer {
    width: 576px;
    height: 150px;
    box-sizing: border-box;
    display: flex;
    justify-items: flex-start;
  }
  .footer .footer-group1 {
    margin: 0 auto;
  }
  .footer .footer-group2 {
    margin: 0 auto;
  }
}
