body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

header {
  position: relative;
  width: 100%;
  height: 120px;
  background-color: gray;
  display: block;
}

header .inner {
  width: 1200px;
  height: 120px;
  position: relative;
  margin: auto;
 
}

header .inner .logo {
  position: absolute;
  left: 80px;
  top: 30px;
}

header .inner nav {
  display: block:
}

header .inner nav Ul {
  top: 30px;
  right: 0;
  display: flex;
  position: absolute;
}

header .inner nav Ul li {
  padding: 0 20px 0 20px;
}

.about {
  width: 100%;
  height: 400px;
  background-color: yellow;

}

.about .inner {
  width: 1200px;
  margin: auto;
  position: relative;
}

.about .inner .title {
 position: absolute;
 left: 80px;
 top: 30px;
}

.about .inner p {
  position: absolute;
  left: 80px;
  top: 80px;
  display: block;
  transition: all .5s ;
}

.about .inner p:hover {
  color: lime;
}