/* common */
body {
  font-family: "Montserrat", "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  height: 6000px;
  background-color: #6d9886;
  background: cover;
  position: relative;
  color: #212121;
  z-index: -10;
}
body:before {
  content: "";
  background: linear-gradient(to top, #d9cab3, transparent);
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}
a {
  color: #212121;
  text-decoration: none;
}
h1 {
  font-size: 30px;
  font-weight: 500;
}
/* header */

.header {
  background-color: white;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.header .inner {
  background-color: white;
  height: 100px;
  width: 1200px;
  margin: auto;
  position: relative;
}

.header .inner .logo {
  top: 40px;
  left: 50px;
  position: absolute;
}

.header .inner .logo img {
  width: 45%;
  left: 30px;
}

.header .inner .gnb {
}

.header .inner .gnb .gnb-list {
  top: 40px;
  right: 50px;
  display: flex;
  flex-direction: row;
  position: absolute;
}

.header .inner .gnb .gnb-list .gnb-list-item {
  padding: 0 30px;
}

.header .inner .gnb .gnb-list .gnb-list-link {
  transition: all, 0.3s;
}

.header .inner .gnb .gnb-list .gnb-list-link:hover {
  color: #d9cab3;
  display: block;
  transform: scale(1.1);
}

/* section1 */

.section1 {
  width: 1200px;
  height: 900px;
  margin: auto;
}
.section1 .inner {
  width: 1200px;
  height: 900px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.section1 .inner .about {
  color: #212121;
  top: 400px;
  left: 50px;
  position: absolute;
}
.section1 .inner .contents {
  top: 400px;
  left: 300px;
  position: absolute;
  transition: all, 0.3s linear;
}
.section1 .inner .contents:hover {
  color: #d9cab3;
}

/* section2 */

.section2 {
  width: 1200px;
  height: 900px;
  margin: auto;
  position: relative;
}
.section2 .skills {
  position: absolute;
  left: 40px;
  top: 250px;
}
.section2 .skills-group {
  position: absolute;
  left: 300px;
  top: 250px;
}
.section2 .skills-group .group1 {
}
.section2 .skills-group .group1 .group1-list {
  width: 800px;
  display: flex;
}
.section2 .skills-group .group1 .group1-list .group1-list-item {
  padding: 0 80px 0 0px;
  box-sizing: border-box;
}
.section2 .skills-group .group2 {
  margin: 80px 0;
}
.section2 .skills-group .group2 .group2-list {
  width: 800px;
  display: flex;
}
.section2 .skills-group .group2 .group2-list .group2-list-item {
  padding: 0 80px 0 0px;
  box-sizing: border-box;
}
.section2 .skills-group .group3 {
  margin: 80px 0;
}
.section2 .skills-group .group3 .group3-list {
  width: 800px;
  display: flex;
}
.section2 .skills-group .group3 .group3-list .group3-list-item {
  padding: 0 80px 0 0px;
  box-sizing: border-box;
}
.section3 {
  width: auto;
  height: 800px;
  display: block;
  background-color: #f6f6f6;
}
.section3 .inner {
  position: relative;
}
.section3 .inner .inner-list {
  width: 1200px;
  display: block;
  margin: auto;
  padding: 650px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section3 .inner .inner-list .inner-list-item {
  flex-grow: 1;
}

.footer {
}
.footer .footer-group1 {
}
.footer .footer-group1 .footer-title {
}
.footer .footer-group1 .fotter-conents {
}
.footer .footer-group2 {
}
.footer .footer-group2 .footer-group2-des {
}
.footer .footer-group2 .footer-group2-des .footer-group2-des-title {
}

.footer .footer-group2 .footer-group2-des .footer-group2-des-contents {
}
